ion-content.background{
    background-size: cover;
    background-position-x: 50%;
    background:url('../../../assets/imgs/base-background.jpg') !important;
}
ion-content{
    .overlay{

        background-color: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -99;
    }
    .form-wrapper{
        position: absolute;
        top:20%;
        padding:35px;
        z-index: 9999;
        ion-item{
            padding-left: 0 !important;
        }
        .title{
            color:#fff;
            margin-top:20px;
            margin-bottom: 30px;
        }
    }
}

