ion-header{
    ion-toolbar{
        .botonVolver{
            display: flex;
            flex-direction: row;
            ion-title{
                font: bold 15pt Raleway;
            }
        }
        ion-label{
            font: SemiBold 12pt Raleway;
            color: blue;
            margin-right: 10%;
        }
    }
}

ion-content{
    img{
        display: block;
        margin: auto;
    }
    form{
        .campoEmail{
            display: flex;
            flex-direction: row;
            margin-left: 2%;
            margin-right: 2%;
            border: green 1px solid;
            border-radius: 20px;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: SemiBold;
            }
        }
        .campoPassword{
            display: flex;
            flex-direction: row;
            margin-left: 6%;
            ion-label{
                font-family: Raleway;
                font-size: 12pt;
                font-weight: SemiBold;
            }
        }
        .checkRecordar{
            display: flex;
            flex-direction: row;
            margin-left: 5%;
            position: relative;
            top: 300px;
            ion-label{
                font-family: Raleway;
                font-size: 11pt;
                font-weight: Regular;
                color: grey
            }
        }
        ion-button{
            margin-left: 2%;
            margin-right: 2%;
            position: relative;
            top: 310px;
            img{
                position: relative;
                left: 30%;
            }
            ion-label{
                text-align: center;
                position: relative;
                left: 40%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: bold;
            }
        }
    }
}