<ion-content>
  <div class="overlay"></div>
  <div class="form-wrapper" text-center>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <p class="title">Introduce los datos para acceder al contenido</p>
      <ion-item>
        <ion-label><ion-icon name="person"></ion-icon></ion-label>
        <ion-input clearInput type="text" placeholder="Usuario" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
        <ion-input clearInput type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!form.valid">Entrar</ion-button>
      <ion-button expand="block" type="button" routerLink="/register">Registrarse</ion-button>
      <p class="title" text-center routerLink="/forgot-password">¿Has olvidado tu contraseña?</p>
    </form>
  </div>
</ion-content>