<ion-header no-border>
  <ion-toolbar>
    <div class="botonVolver">
      <ion-buttons>
        <ion-back-button mode="md" slot="start" icon="assets/icon/atras-register.svg" routerLink="/idiomas"></ion-back-button>
      </ion-buttons>
      <ion-title>Volver</ion-title>
    </div>
    <ion-label slot="end" routerLink="/register">Ir al registro</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/imgs/logo2.png" alt="logo">
    <form (ngSubmit)="submitForm()">
      <div class="campoEmail">
        <ion-label>Email:</ion-label>
        <ion-input type="email" placeholder="Imatge@federaciofotografia.cat"></ion-input>
      </div>
      <br>
      <div class="campoPassword">
        <ion-label>Contraseña:</ion-label>
        <ion-input type="password" placeholder="******"></ion-input>
      </div>
      <div class="checkRecordar">
        <ion-checkbox (ionChange)="metodo()"></ion-checkbox>
        <ion-label>¡Recuerdame!</ion-label>
      </div>
      
      <ion-button expand="block" type="submit">
        <ion-label>Entrar</ion-label>
        <img src="assets/icon/arrows-right.svg" alt="logo">
      </ion-button>
    </form>
</ion-content>