ion-header{
    font: Regular 20pt Raleway;
    ion-toolbar{
        .botonVolver{
            display: flex;
            flex-direction: row;
            ion-title{
                font: bold 15pt Raleway;
            }
        }
        ion-label{
            font: SemiBold 12pt Raleway;
            color: blue;
            margin-right: 10%;
        }
    }
}

ion-content{
    form{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        .campoNombre{
            display: flex;
            flex-direction: row;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: bold;
            }
        }
        .campoApellidos{
            display: flex;
            flex-direction: row;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: bold;
            }
        }
        .campoEmail{
            display: flex;
            flex-direction: row;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 5%;
            border: green 1px solid;
            border-radius: 20px;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-style: SemiBold;
            }
        }
        .campoPassword{
            display: flex;
            flex-direction: row;
            margin-top: 5%;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: Regular;
            }
        }
        .campoConfirmarPassword{
            display: flex;
            flex-direction: row;
            margin-top: 5%;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: Regular;
            }
        }
        .campoNumeroSocio{
            display: flex;
            flex-direction: row;
            margin-top: 5%;
            ion-label{
                margin-left: 5%;
                margin-top: 3%;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: bold;
            }
        }
        .checkProfesion{
            display: flex;
            flex-direction: row;
            margin-top: 20%;
            margin-left: 10%;
            ion-label{
                margin-left: 5%;
                font-family: Raleway;
                font-size: 13pt;
                font-weight: Regular;
            }
            ion-checkbox{
                margin-left: 5%;
            }
        }
        .checkPoliticas{
            display: flex;
            flex-direction: row;
            margin-top: 20%;
            margin-left: 5%;
            ion-label{
                margin-left: 5%;
                font-family: Raleway;
                font-size: 10pt;
                font-weight: Regular;
                color: grey;
            }
        }
        ion-button{
            margin-left: 2%;
            margin-right: 2%;
            position: relative;
            top: 100px;
            img{
                position: relative;
                left: 20%;
            }
            ion-label{
                text-align: center;
                position: relative;
                font-family: Raleway;
                font-size: 12pt;
                font-weight: bold;
            }
        }
    }
}