ion-content{
    --background:url(../../../assets/imgs/base-background.jpg);
    background-size: cover;
    background-position-x: 50%;
    
    
    .overlay{
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -99;
    }
    .form-wrapper{
        position: absolute;
        padding:35px;
        z-index: 9999;
        ion-item{
            padding-left: 0 !important;
        }
        .title{
            color:#fff;
            font-size: 20px;
            margin-top:20px;
            margin-bottom: 30px;
        }
        .buttons{
            margin-top:15px;
            overflow: hidden;
        }
        .separadores{
            margin-left: 10px;
            .separador{
                width:90%;
                float: left;
                background-color: rgb(196, 192, 192);
                height: 1px;
                margin-top:15px;
                margin-bottom:15px;
            }
            
        }
        .btn-social{
            width: 100%;
            text-transform: none;
            font-weight: 300;   
            height: 45px;
            ion-icon{
                margin-right: 20px;
            }
        }
        #facebook{
            background-color: #3b5998 !important;
            color:white;
        }
        #google{
            background-color: #d34836;
            color:white;
        }
    }
}

