<ion-content>
  <div class="logo ion-text-center">
    <img src="assets/imgs/logo.png" alt="">
  </div>
  <h1 class="title">Personalización</h1>
  <div class="overlay"></div>
  <video autoplay muted loop id="myVideo">
    <source src="assets/videos/bg-video.mp4" type="video/mp4" />
  </video>
</ion-content>

<ion-footer no-border class="ion-text-center">
  <ion-button type="button" routerLink="/login">Iniciar sesión</ion-button>
  <ion-button type="button" color="tertiary" routerLink="/register">Registro</ion-button>
</ion-footer>