ion-footer{ 
    position: absolute;
    ion-button{
        text-transform: none;
        width:40%;
        margin:10px;
    }
    bottom:50px;
}
ion-content{
    --background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(90,97,85,1) 100%);
    .botones{
        position: absolute;
        width: 100%;
        top:60vh;
    }
    .btn-facebook{
        font-weight: lighter;
        width: 100%;
        background:#3B5998;
        margin-bottom:10px;
    }
    .btn-login{
        font-weight: lighter;
        width: 100%;
        --background: linear-gradient(90deg, #024CD7 ,#03C0D0 );
    }
    
    .logo{
        img{
            width: 130px;
            height: 130px; 
        }
        margin:0 auto;
        position: absolute;
        z-index: 2;
        width: 100vw;
        top:15vh;
    }
    video{
        height: auto;
        width: 100vw;
        margin: 0; height: 100%; overflow: hidden;
        position: fixed;
    }
    .title{
        position: absolute;
        z-index: 2;
        color:white;
        top: 35vh;
        width: 100vw;
        text-align: center;
    }
}
