ion-header{
    ion-toolbar{
        ion-title{
            font-family: Raleway;
            font-weight: bold;
            font-size: 15pt;
        }
        .iconosNoticias{
            display: flex;
            flex-direction: row;
            #iconVolver{
                margin-left: 5%;
            }
            #icon{
                margin-right: 5%;
                width: auto;
            }
            #linea{
                width: 0.4%;
            }
            #noticias{
                font-family: Raleway;
                font-size: 15pt;
                font-weight: bold;
            }
            #notificaciones{
                font-weight: bold;
            }
        }
    }
}

ion-content{
    ion-label{
        font-family: Raleway;
        font-size: 12pt;
    }
    .contenidoNotificaciones{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        #toggle{
            position: relative;
            left: 60px;
            top: 18px;
        }
    }

    .contenedorUno{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid blue;
        padding: 10px;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        top: 4%;
        ion-label{
            text-align: center;
        }
        #labelUno{
            font-weight: bold;
            color: blue;
        }
        img{
            position: relative;
            right: 45%;
            width: 3%;
        }
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(149, 149, 149);
        padding: 10px;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        top: 4%;
        margin-top: 5%;
        #label{
            font-weight: bold;
        }
        ion-label{
            text-align: center;
        }
    }

    .contenedorDos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid blue;
        padding: 10px;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        top: 4%;
        #labelDos{
            font-weight: bold;
            color: blue;
        }
        ion-label{
            text-align: center;
        }
        img{
            position: relative;
            right: 45%;
            width: 3%;
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(149, 149, 149);
        padding: 10px;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        top: 4%;
        margin-top: 5%;
        #label{
            font-weight: bold;
        }
        ion-label{
            text-align: center;
        }
    }
}
